.card-title, .card-text {
    font-weight: bold;
}

.confirmados {
    color: orangered;
}

.muertes {
    color: darkred;
}

.recuperados {
    color: blue;
}

/* Override */
.rounded {
    border-radius: 3em !important;
}